.task_container{
    height:400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.task_name{
    height: 100px;
    width: 100%;
    color: rgb(55, 167, 179);
    border-bottom: 0.5px solid rgb(228, 226, 226);
}
.task_details{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.taskButtons_container{
    width: 100%;
    height: 100px;
    background-color: #c9c9c3;
    display: flex;
    justify-content: center;
    align-items: center;
}