.container{
    width: 100vw;
}
.main{
    width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 167, 179);
}

.addTaskButton_container{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

button{
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border:1px solid grey;
    color: #1e2969;
}
.deleteCancel_button{
    color: rgb(144, 37, 37);
}
.deleteCancel_button:hover{
    color: white;
    background-color: rgb(144, 37, 37);
}

button:hover{
    background-color: rgb(55, 167, 179);
    color: #1e2969;
    cursor: pointer;
}
input{
    width: 300px;
    border-radius: 4px;
    border:0.5px solid grey;
    padding: 5px;
    background-color: #c9c9c3;
    
    
}