.list_container{
    width: 80vw;
    min-height:400px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}