/* CustomCalendar.css */

.react-calendar {
    width: 300px;
    max-width: 100%;
    background: #e0ddda;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar__tile--now {
    background: #c9c9c3;
  }
  .react-calendar__tile--active {
    background: rgb(55, 167, 179);
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: rgb(55, 167, 179);
  }
  .react-calendar__month-view__days__day {
    color:  #1e2969;
  }
  
  .react-calendar__navigation button {
    color: #1e2969;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    color: #1e2969;
    font-size: 0.75em;
    text-decoration: underline;
  }
  
  .react-calendar__tile {
    height: 40px;
  }
  
  
