h1{
    color: rgb(55, 167, 179);
    font-size: 50px;
}
header{
    height: 500px;
    width: 100vw;
    background: url('/public/plannerPicture.jpg') no-repeat center center; 
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}