.add_container{
    width: 80vw;
    margin-top: 20px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding:20px;
}

.form_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.inputs_container{
    width: 50%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input_container{
    border-radius: 5px;
  
    padding: 5px;
}
.label_input{
    width: 250px;
}
.description_input{
    height: 100px;
        

}



.buttons_container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

